.navigation-wrapper {
  display: contents;
}
 
.navigation-container10 {
  display: contents;
}
 
.navigation-container11 {
  display: none;
}
 
.navigation-container12 {
  display: contents;
}
 
.navigation-thq-navigation-container-elm {
  height: 80px;
}
 
.navigation-thq-nav-logo-icon-elm {
  margin-right: 14px;
}
 
.navigation-thq-nav-logo-elm {
  height: 70px;
}
 
.navigation-thq-nav-logo-text-elm {
  align-self: center;
  flex-shrink: 0;
}
 
.navigation-thq-navigation-link-item-elm1 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-item-elm2 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-item-elm3 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-item-elm4 {
  text-decoration: none;
}
 
.navigation-thq-navigation-link-item-elm5 {
  text-decoration: none;
}
 
.navigation-thq-navigation-toggle-icon-elm {
  width: 28px;
  height: 28px;
  display: block;
}
 
.navigation-thq-navigation-close-icon-elm {
  width: 28px;
  height: 28px;
  display: block;
}
 
.navigation-container22 {
  display: none;
}
 
.navigation-container23 {
  display: contents;
}
 
.navigation-container24 {
  display: none;
}
 
.navigation-container25 {
  display: contents;
}

.footer-wrapper {
  display: contents;
}
 
.footer-container {
  display: contents;
}
 
.footer-thq-footer-logo-container-elm {
  backdrop-filter: blur(5px);
}
 
.footer-image {
  width: 200px;
  object-fit: cover;
}
 
.footer-thq-footer-nav-link-elm1 {
  text-decoration: none;
}
 
.footer-thq-footer-nav-link-elm2 {
  text-decoration: none;
}
 
.footer-thq-footer-nav-link-elm3 {
  text-decoration: none;
}
 
.footer-thq-footer-nav-link-elm4 {
  text-decoration: none;
}
 
.footer-thq-footer-delivery-badge-elm1 {
  text-decoration: none;
}
 
.footer-thq-footer-delivery-badge-elm2 {
  text-decoration: none;
}
 
.footer-thq-footer-social-link-elm {
  text-decoration: none;
}
 
.footer-thq-footer-legal-link-elm1 {
  text-decoration: none;
}
 
.footer-thq-footer-legal-link-elm2 {
  text-decoration: none;
}

.philosophy-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.philosophy-thq-microgreens-qualitygrid-elm {
  display: flex;
}
 
.philosophy-text23 {
  color: #326907;
}
 
.philosophy-thq-section-content-elm15 {
  color: rgb(50, 105, 7);
}
 
.philosophy-thq-section-content-elm17 {
  color: rgb(50, 105, 7);
}
 
.philosophy-thq-section-content-elm19 {
  color: rgb(50, 105, 7);
}
 
.philosophy-thq-gallery-qualitygrid-elm {
  display: flex;
}
 
.philosophy-container2 {
  display: none;
}
 
.philosophy-container3 {
  display: contents;
}
 
.philosophy-container4 {
  display: none;
}
 
.philosophy-container5 {
  display: contents;
}
